/* styles.css */

table {
    width: 100%;
    border-collapse: collapse;
    border: thin solid #ddd;
}

th, td {
    border: thin solid #ddd;
    font-size: 12px;
    text-align: center;
    padding: 8px;
    word-wrap: break-word;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}
@media screen and (max-width: 820px) {
    table {
        display: none;
    }
}

@media screen and (min-width: 820px) {
    h6 {
        display: none;
    }
}
